* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
body {
  background-color: hsl(218, 23%, 16%);
}
.overall {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: hsl(217, 19%, 24%);
  max-width: 550px;
  border-radius: 20px;
  padding-top: 3.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.heading {
  font-weight: 800;
  color: hsl(150, 100%, 66%);
  text-align: center;
  padding-bottom: 0.8rem;
  letter-spacing: 7px;
}
.quote {
  font-size: 28px;
  font-weight: 800;
  color: hsl(193, 38%, 86%);
  padding: 20px 0;
  text-align: center;
  line-height: 2.8rem;
}
.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(150, 100%, 66%);
  /* width: fit-content; */
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: relative;
  top: 35px;
  cursor: pointer;
  transition:
    box-shadow 0.3s ease,
    transform 0.2s ease;
}
/* The glow hovering effect */
.dice:hover {
  box-shadow:
    0 0 20px hsl(150, 100%, 66%),
    0 0 40px hsla(150, 100%, 66%, 0.8);
  transform: scale(1.05);
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divider {
  width: 100%;
  height: 16px;
  background: url("./images/pattern-divider-desktop.svg") no-repeat center
    center/cover;
}
/* Quote cover */
.quote::before {
  content: "“";
}

.quote::after {
  content: "”";
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  main {
    max-width: 375px;
  }
  .divider {
    background-image: url("./images/pattern-divider-mobile.svg") no-repeat
      center center/cover;
  }
}
